.container {
  margin: 50px auto;
  max-width: 1200px;
  background-color: grey;
  /* display: flex;
    flex-wrap: wrap; */
}

.boxer {
  margin: 50px auto;
  max-width: 1200px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; 這裡的100%=1200+左10+右10=1220px*/
  margin: 0 -10px;
}


.card {
  /* width: 25%; 4 個一排 */
  height: 300px;
  background-color: lightblue;
  border: 1px solid black;
  margin: 0 10px;
}

.box {
  /* width: 25%; 4 個一排 */
  height: 300px;
  background-color: lightgreen;
  border: 1px solid black;
}

