header{
  background-color: #0432ff;
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 80px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.nav-menu{
  display: flex;
  gap: 20px;
  color: black;
}

.nav-item{
  background-color: lightblue;
  line-height: 80px;
  padding: 0 20px;
  position: relative;
}

.nav-item:hover .second-menu{
  display: block;
}


.second-menu{
  display: none;
  position: absolute;
  left: 10px;
  /* top: calc(100% + 10px); */
  background-color: lightblue;
}

.second-item{
  line-height: 1.5;
  padding: 10px 30px;
  text-wrap: nowrap;
  position: relative;
}

.second-item:hover, .third-item:hover{
  background-color: lightblue;
}

.second-item:hover .third-menu{
  display: block;
}

.third-menu{
  display: none;
  position: static;
  left: 100%;
  top: 20px;
  background-color: lightblue;
}

.third-item{
  line-height: 1.5;
  padding: 10px 30px;
  text-wrap: nowrap;
}

/* 讓 checkbox 完全隱藏 */
#menu-toggle {
  display: none;
}

/* 電腦版不顯示漢堡按鈕 */
.hamburger-btn {
  display: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
  line-height: 80px;
  padding: 0 20px;
}

/* 手機版顯示漢堡按鈕 */
@media (max-width: 767px) {
  .hamburger-btn {
    display: block;
  }

  /* 手機版預設 nav-menu 是隱藏的 */
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #0432ff;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
  }

  .second-menu{
    position: static;
    display: none;
    flex-direction: column;
    background-color: #fffecd;
  }

  .third-menu{
    position: static;
    display: none;
    flex-direction: column;
    background-color: #fffecd;
  }

  /* 用 checkbox 控制 nav-menu 展開 */
  #menu-toggle:checked ~ .nav-menu {
    display: flex;
    width: 100%;
    padding: 20px;

  }
}
